body.noauth {
    background-color: red;
}

h1.noauth-info {
    font-size: 32px;
    color: rgb(82, 82, 82);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1.noauth-sad {
    font-size: 80px;
}

h1.noauth-text {
    font-size: 18px;
    color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}