.hide-drawer {
    transform: translate(-300px, 0);
    transition: transform 0.3s ease-in-out;
}
.body-move-off {
    transform: translate(0, 0);
    transition: transform 0.3s ease-in-out;
}
.body-move-on {
    transform: translate(300px, 0);
    transition: transform 0.3s ease-in-out;
}
.hamb-on {
    display: inline !important;
}
.hamb-off {
    display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}