html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
}

.content {
  min-height: 90vh;
}

form.form-search {
  width: 70%;
  margin: auto;
}

.form-add-wrapper {
  padding: 0 75px;
}

.view-img {
  width: 100px;
  height: 100px;
  background-color: gray;
  margin: auto;
}

.add-btn {
  text-align: center;
}

.add-btn button {
  width: 40%;
}

body.login-page {
  margin: 0;
  background-color: #2c2c2c;
}

.login-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.login-wrapper .login-box {
  width: 50%;
  background-color: #2c2c2c;
  box-shadow: 0 0 10px 0.2rem rgba(0, 0, 0, 0.25);
  margin: auto;
  border-radius: 10px;
  padding: 50px 125px;
  box-sizing: border-box;
}

.login-wrapper .login-box .btn-submit {
  text-align: center;
}

.login-wrapper .login-box .btn-submit button.submit-login {
  width: 50%;
}

.hide-drawer {
  transform: translate(-300px, 0);
  transition: transform 0.3s ease-in-out;
}

.body-move-off {
  transform: translate(0, 0);
  transition: transform 0.3s ease-in-out;
}

.body-move-on {
  transform: translate(300px, 0);
  transition: transform 0.3s ease-in-out;
}

.hamb-on {
  display: inline !important;
}

.hamb-off {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

nav {
  padding: 10px 60px;
  background-color: #2c2c2c;
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
}

nav .hamburger button {
  min-width: 44px;
  min-height: 44px;
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  font-size: 20px;
  cursor: pointer;
  padding-top: 10px;
}

nav .hamburger button:hover {
  color: #3b3b3b;
}

nav .logo {
  text-align: right;
}

nav .logo h1 {
  margin: 0;
  margin-top: 13px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 22px;
}

nav .logo button {
  background-color: rgba(255, 255, 255, 0) !important;
}

nav .logo button:focus {
  outline: none !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

nav .logo .dropdown-item:active {
  background-color: #2c2c2c !important;
}

.drawer {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #2c2c2c;
  box-sizing: border-box;
  border-right: 1px solid white;
}

.drawer ul {
  padding: 0 !important;
}

.drawer li {
  font-size: 18px;
  list-style: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  min-height: 44px;
}

.drawer .sub-logo {
  margin: 20px 0;
}

.drawer .sub-logo h1 {
  text-align: center;
  font-size: 24px;
  margin: 15px 0;
}

.drawer .list-item {
  font-size: 16px;
  padding: 20px !important;
}

.drawer .list-item a {
  margin: 0 40px;
}

.drawer .list-item a:hover {
  color: #c7c7c7 !important;
  text-decoration: none;
}

.drawer .list-item:hover {
  background-color: #181818;
  transition: 0.3s ease-in-out;
}

.hamb-close {
  display: none;
}

button.disabled {
  cursor: default !important;
}

button.disabled p {
  color: #bdbdbd !important;
}

footer {
  padding: 20px;
  background-color: #2c2c2c;
}

footer p {
  margin: 0;
  text-align: center;
  font-size: 15px;
}

